# {{ .Name }}

{{ .Description }}

## Decisions

| #                    | Title                                                                       | Status   |
|----------------------|-----------------------------------------------------------------------------|----------|
{{ range $element := .Decisions -}}
{{ if $element.IsActive -}}
| [{{ $element.ID }}][{{ $element.ID }}] | {{ $element.Title }} | {{ $element.Status }} |
{{ else -}}
| ~~[{{ $element.ID }}][{{ $element.ID }}]~~ | ~~{{ $element.Title }}~~ | ~~{{ $element.Status }}~~ |
{{ end -}}
{{ end -}}

{{ range $element := .Decisions }}
[{{ $element.ID }}]: {{ $element.GithubURL }}{{ end }}
